<%= form_for @video do |f| %>
<p> Please add a Video</p>

<div>
	<%= f.label :title %>
	<%= f.text_field :title %>
</div>

<div>
	<%= f.label :link %>
	<%= f.text_field :link %>
</div>

<div>
	<%= f.submit %>
</div>

<% end %>
	